<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencia laboral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-title>Empleos:</ion-title>
</ion-toolbar>
<ion-item>
  <ion-label>
    SRT HardCom S.A.
    <br/>
    <h4>Cargo: Técnico de Operaciónes</h4>
    <p>Instalacion de cableado horizontal<br/>
      Instalación circuitos eléctricos<br/>
      Desmontaje de circuitos eléctricos<br/> 
      Instalación de sistema para networking <br/> 
      Inventario de material eléctrico y electrónico <br/>
      Encargado de libro de obra
      </p>
  </ion-label>
</ion-item>

<ion-toolbar>
  <ion-title>Estudios:</ion-title>
</ion-toolbar>
<ion-item>
  <ion-label>
    Colegio Nacional Manuel Córdova Galarza
    <br/>
    <h4>Bachiller en ciencias</h4>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Escuela Politécnica Nacional
    <br/>
    <h4>Tecnologo Superior en Desarrollo de Software</h4>
  </ion-label>
</ion-item>
