<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Default Item -->
  <br/><br/>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h3>Carlos Montesdeoca</h3></ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <ion-label> <a href='https://wa.me/0978885465'>097-888-5465</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>   02-322-8457</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-unread-outline"></ion-icon>
      <ion-label>carlos.montesdeoca01@epn.edu.ec</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Santa Monica de conocoto</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github"></ion-icon>
      <ion-label><a href='https://github.com/CarlosMontesdeoca'> CarlosMontesdeoca</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label><a href='https://www.facebook.com/carlos.montesdeoca.73157'>Carlos Montesdeoca</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="volume-high-outline"></ion-icon>
      <ion-label>Español Nativo</ion-label><br/>
      <ion-label>Ingles Intermedio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
