<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Habilidades y conocimientos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>
    Ciencias basicas 
    <br/>
    <p>
      Matemática<br/>
      Física<br/>
      Química<br/>
      Calculo<br/>
      Algebra
    </p>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Conocimientos en sistemas
    <br/>
    <p>
      Diseño de interfaces graficas<br/>
      Diseño de aplicaciones web<br/>
      Ciberseguridad<br/>
      Ingeniería de Software<br/>
      Estructura de bases de datos<br/>
      Programación
    </p>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Lenguajes de programación aprendidos 
    <br/>
    <p>
      C++<br/>
      C#<br/>
      Java<br/>
      JavaScript (JS, HTML, CSS)<br/>
      Phyton<br/>
      PHP
    </p>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Conocimientos adicionales 
    <br/>
    <p>
      Manejo de Office Avanzado<br/>
      Cableado Horizontal<br/>
      Configuración de equipos de networking<br/>
      Eléctrica básica<br/>
      Autocad 2D Intermedio
    </p>
  </ion-label>
</ion-item>

